<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring REST MYSQL:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_REST_MYSQL_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring REST MYSQL/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring REST MYSQL" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.7.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.7.RELEASE" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../mysql-connector-java-5.1.41/mysql-connector-java-5.1.41-bin.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/jackson-annotations-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/jackson-core-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/jackson-databind-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/jackson-dataformat-xml-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/jackson-module-jaxb-annotations-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/stax2-api-3.1.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jackson jars/woodstox-core-5.0.3.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/jackson-annotations-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/jackson-core-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/jackson-databind-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/jackson-dataformat-xml-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/jackson-module-jaxb-annotations-2.8.8.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/junit-4.12.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/mockito-1.8.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/stax2-api-3.1.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/../../../jars/woodstox-core-5.0.3.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>